appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.1
django-environ==0.4.5
django-heroku==0.3.1
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
filelock==3.0.12
geographiclib==1.50
geopy==2.0.0
html5lib==1.1
lxml==4.5.2
numpy==1.19.2
pandas==1.1.2
Pillow==7.1.2
psycopg2==2.8.6
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2020.1
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.10
virtualenv==20.0.31
webencodings==0.5.1
whitenoise==5.2.0
